### Pandas 

O pandas oferece estruturados de dados de alto nível e funções para facilitar a análise de dados. Trabalhamos com dados tabulares o que torna mais rápido e fácil o uso e aprendizado. Os principais objetos do pandas são: Series e DataFrame. 

* Series: objeto unidimensional, com rótulos
* DataFrame: objeto multidimensional, com rótulos. Parecido com uma tabela de banco de dados ou planilha de Excel.

Essa biblioteca disponibiliza funcionalidades para indexação que facilitação a reformatação, manipulação e agregação dos dados.

In [4]:
import pandas as pd # aqui estamos fornecendo um 'alias' ao pandas para facilitar o trabalho

#### DataFrame

O DataFrame representa uma tabela de dados retangular, uma matriz, ou ainda como se fosse uma planilha do Excel em que temos os nomes das colunas e nomes o número das linhas.

Existem diferentes formas de construir um DataFrame, uma das mais comuns é por meio de dicionários, por exemplo:

In [5]:
dados = {'nome' : ['Bill', 'Fill', 'Steve', 'Bob'],
        'idade' : [21, 87, 56, 43]}

In [6]:
df = pd.DataFrame(dados)

In [7]:
df

   idade   nome
0     21   Bill
1     87   Fill
2     56  Steve
3     43    Bob

Eu poderia tambem definir a ordem das colunas no momento da criação

In [8]:
df2 = pd.DataFrame(dados, columns=['nome', 'idade'])

In [9]:
df2

    nome  idade
0   Bill     21
1   Fill     87
2  Steve     56
3    Bob     43

Podemos criar a partir de uma lista também:

In [13]:
lista = [[1,3], [7, 4], [8,6], [9,7]]

In [14]:
df3 = pd.DataFrame(lista, columns=['col1', 'col2'])

In [15]:
df3

   col1  col2
0     1     3
1     7     4
2     8     6
3     9     7

Nós também podemos mudar o indice, por exemplo:

In [16]:
cadastro = {'nome': ['Jolie', 'Marie', 'Bia', 'Kelly'],
           'cor': ['red', 'blue', 'black', 'gray']}
data = ['20/03', '21/03', '22/03', '22/03']

In [17]:
df4 = pd.DataFrame(cadastro, columns=['nome', 'cor'])
df4

    nome    cor
0  Jolie    red
1  Marie   blue
2    Bia  black
3  Kelly   gray

In [18]:
df4.index = data

In [20]:
df4

        nome    cor
20/03  Jolie    red
21/03  Marie   blue
22/03    Bia  black
22/03  Kelly   gray

Para acessar uma linha podemos usar o **loc** se refere ao valor do index:

In [22]:
df4.loc['20/03']

nome    Jolie
cor       red
Name: 20/03, dtype: object

Ou o **iloc** quando se refere a posição

In [23]:
df4.iloc[0]

nome    Jolie
cor       red
Name: 20/03, dtype: object